body {
  background-image: linear-gradient(to right, #0ecaf4, #e5e1b7);
}
.mainMenu{
  width: 360px;
  margin: 100px auto;
}
#header {
  background-color: #3163b2;
  width: inherit;
  height: 40px;
  color: white;
  text-transform: uppercase;
  clear: both;
  font-weight: bold;
  font-family: Lato;
}
.alignLeft {
  margin: 10px;
  float: left;
}
.alignRight {
  float: right;
  margin: 10px;
}
input {
  box-sizing: border-box;
  background-color: #f7f7f7;
  height: 40px;
  width: 100%;
  padding: 10px;
  border: 0px;
}
input:focus {
  width: 100%
  background-color: white;
  color: #3163b2;
  outline: 0px;
  box-sizing: border-box;
  border-width: 2px;
  border-style: solid;
  border-color: #3163b2;
}
.oneToDo {
  height: 40px;
  line-height: 40px;
  background-color: white;
  color: #666;
  margin: 0;
  padding: 0;
}
.oneToDo:nth-of-type(2n) {
  background-color: #f7f7f7;
}
.sideBox {
  background-color: #e74c3c;
  color: white;
  width: 0;
  height: 40px;
  margin-right: 10px;
  display: inline-block;
	transition: 0.5s linear;
	opacity: 0;
  text-align: center;
}
.oneToDo:hover .sideBox{
  width: 40px;
  opacity: 1.0;
}
.task {
  height: 40px;
}
.greyBackground {
  background-color: #f7f7f7;
}
.whiteBackground {
  background-color: white;
}
.strikeThrough {
  text-decoration: line-through;
}
